.square {
    background: white;
    border: 1px solid black;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    height: 2em;
    text-align: center;
    width: 2em;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

